:root {
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
  }
  
  .perspective-container {
    display: flex;
    gap: 0.6rem;
    perspective: calc(var(--index) * 35);
    overflow-x: auto;
    padding: 0 1rem;
  }
  
  .perspective-item {
    position: relative;
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 12);
    background-size: cover;
    background-position: center;
    filter: grayscale(1) brightness(0.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    cursor: pointer;
    will-change: transform, filter, rotateY, width;
    flex-shrink: 0;
    border-radius: 30px;
  }
  
  .perspective-item:hover {
    filter: none;
    transform: translateZ(calc(var(--index) * 10));
    z-index: 10;
  }
  
  .perspective-item:hover + .perspective-item {
    transform: translateZ(calc(var(--index) * 8)) rotateY(35deg);
    filter: none;
    z-index: 9;
  }
  
  .perspective-item:hover + .perspective-item + .perspective-item {
    transform: translateZ(calc(var(--index) * 5)) rotateY(30deg);
    z-index: 8;
  }
  
  .perspective-item:has(+ .perspective-item:hover) {
    transform: translateZ(calc(var(--index) * 8)) rotateY(-35deg);
    filter: none;
    z-index: 9;
  }
  
  .perspective-item:has(+ .perspective-item + .perspective-item:hover) {
    transform: translateZ(calc(var(--index) * 5)) rotateY(-30deg);
    z-index: 8;
  }
  